<style>
  a.currency {
    text-decoration: none;
  }
  
  .currency.selected {
    font-weight: bold;
    font-size: 150%;
  }
  
  .caption {
    height: 160px;
  }
  
  .price {
    color: #b12704;
    font-weight: 700;
  }
</style>



<div class="row">

  <div class="col-md-3">
    <p class="lead">Meadowlark Vacations</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row carousel-holder">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img class="slide-image" src="/img/vacations/hood-river-big.png" alt="">
            </div>
            <div class="item">
              <img class="slide-image" src="/img/vacations/oregon-coast-big.png" alt="">
            </div>
            <div class="item">
              <img class="slide-image" src="/img/vacations/rock-climbing-big.png" alt="">
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">

      {{#each vacations}}

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <!-- "http://placehold.it/320x150" -->
          <img src="{{static image.small}}" alt="{{slug}}">
          <div class="caption">
            <h4><a href="/vacations/{{slug}}">{{name}}</a></h4> {{#if inSeason}}
            <p>{{description}}
              <a href="/vacations/{{slug}}">See more...</a>
            </p>
            <p>
              <span class="price pull-right">{{price}} {{currency}}</span>
            </p>
            {{else}}
            <p>
              <span class="outOfSeason">We're sorry, this vacation is currently 
                      not in season.</span> {{! The "notify me when this vacation is in season" page will be our next task. }}
              <a href="/notify-me-when-in-season?sku={{sku}}">Notify me when 
                this vacation is in season.</a>
            </p>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}


      <div class="col-sm-4 col-lg-4 col-md-4">
        <h4><a href="#">Like this template?</a></h4>
        <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
      </div>

    </div>

  </div>

  <div class="pull-right">
    <p>Currency:
      <a href="/set-currency/USD" class="currency {{currencyUSD}}">USD</a> |
      <a href="/set-currency/GBP" class="currency {{currencyGBP}}">GBP</a> |
      <a href="/set-currency/EUR" class="currency {{currencyEUR}}">EUR</a> |
      <a href="/set-currency/BTC" class="currency {{currencyBTC}}">BTC</a>
    </p>
  </div>

</div>